* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8%;
}
img {
  height: 110px;
  width: 110px;
  border-radius: 110px;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 14px;
  font-weight: 600;
  /* text-decoration: none; */
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  margin: 0 20px;
  transition: 0.40s;
}
/* s */
}
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 12px;
  font-size: 28px;
  font-weight: 500;
  transition: all 0.42s ease;
  color: #fff;
}
.nav-icon i:hover {
  transform: translateY(-5px);
  color: #fff;
}
.navbar a:hover {
  border-bottom: 2px solid rgb(255, 91, 15);
  color: rgb(255, 91, 15);
}
.navbar a:hover,
.navbar a.active {
  color: rgb(255, 91, 15);
}


#menu-icon {
  font-size: 30px;
  color: #fff;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.contact-btn {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: rgb(255, 91, 15);
  color: #fff;
  transition: 0.40s;
}
.contact-btn:hover {
  background-color:#fff;
  color: rgb(255, 91, 15);
}
.section {
  padding: 0 20%;
}
/* body {
  background-image: url(images2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */
.home {
  width: 100%;
  height: 100vh;
  background-image: url(images2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
/* .home-text {
  margin: 55px;
} */
.home-text {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  margin-bottom: 15px;
  margin: 55px;
}
.home-text h1 {
  font-size: 50px;
  color: rgb(255, 91, 15);
  line-height: 1; 
  text-transform: capitalize;
  font-weight: 600; 
  letter-spacing: -2px;
  margin-bottom: 12px; 
  margin: 20px 0;
}
.home-text p {
  color: white;
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  max-width: 500px;
  line-height: 28px; 
  margin-bottom: 30px;
}
.home-btn {
  display: inline-block;
  font-size: 17px;
  text-transform: uppercase;
  margin-right: 15px;
  border: 2px solid #fff;
  padding: 10px 40px;
  border-radius: 50px;
  background-color: rgb(255, 91, 15);
  color: #fff;
  font-weight: 500;
  transition: all .42s;
}
.home-btn:hover {
  color: rgb(255, 91, 15);
  background-color: #fff;
}
.icon {
  position: absolute;
  top: 50%;
  padding: 0 5%;
  right: 10px;
  transform: translateY(-50%);
}
.icon i {
  display: block;
  margin: 28px 0;
  font-size: 25px;
  color: white;
  transition: 0.4s;
}
.icon i:hover {
  transform: translateY(-30%);
}

#Feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(91, 117, 150);
}
#Feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 10px 15px;
  box-shadow: 20px 20px 34px #111;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 15px 0;
}
#Feature .fe-box {
  box-shadow: 10px 10px 54px rgb(91, 117, 150);
}
#Feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#Feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  background-color: #cce7d0;
}
#product1 {
  text-align: center;
  color: rgb(255, 91, 15);
  background-color: #e8f6ea;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  background-color: rgb(91, 117, 150);
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0,0,0, 0.06);
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
 #product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25); 
}
#product1 .star {
  color: rgb(243, 181, 25);
}
#product1 .pro img {
  /* width: 100%; */
  border-radius: 20px;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: rgb(255, 91, 15);
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("111111.png");
  width: 100%;
  height: 78vh;
  background-size: cover;
  background-position: center;
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("012.png");
  min-width: 630px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  /* text-decoration-color: #fff; */
  color: rgb(255, 91, 15);
  padding: 30px;
}
#sm-banner h4 {
  color: rgb(255, 91, 15);
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: rgb(255, 91, 15);
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: rgb(255, 91, 15);
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
button.white{
font-size: 13px;
font-weight: 600;
padding: 11px 18px;
color: #fff; 
background-color: rgb(255, 91, 15);
/* border-radius: 4px; */
cursor: pointer;
border: 1px solid #fff;
outline: none;
transition: 0.2s;
}
#sm-banner .banner-box:hover button {
  background-color: #fff;
  color: rgb(255, 91, 15);
  border: 1px solid rgb(255, 91, 15)
}
#sm-banner .banner-box2 {
  background-image: url(013.png);
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;ss
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("0123.png");
  min-width: 30%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  /* text-decoration-color: #fff; */
  color: rgb(255, 91, 15);
  padding: 30px;
  margin-bottom: 10px;
}
#banner3 h2 {
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3 {
  font-weight: 800;
  font-size: 15px;
}
#banner3 .banner-box2 {
  background-image: url("014.png");
  min-width: 40%;
  height: 40vh;
}
#banner3 .banner-box3 {
  background-image: url("015.png");
  min-width: 30%;
  height: 40vh;
}

/*Responsive Css */

@media (max-width: 1002px) {
  header {
    padding: 26px 3%;
    transition: 0.3s;
  }
}
  @media (max-width: 768px) {
    .navbar {
      position: absolute;
      top: 100%;
      right: -10%;
      width: 200px;
      height: 15vh;
      /* s */
      display: flex;
      align-items: right;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px;
      border-radius: 2px;
      transition: all 0.42s;
    }
  }
@media (max-width: 860px) {
  .home-text h1 {
    font-size: 40px;
    transition: 0.3s;
  }
  .home-text p {
    font-size: 16px;
    transition: 0.3s;
  }
  .btn {
    padding: 10px 16px;
    transition: 0.3s;
  }
}
@media(max-width:950px) {
  #menu-icon {
    display: block;
    
  }
    /* font-size: 35px;
    color: #fff;
    z-index: 10001;
    cursor: pointer; */
  
  .navbar {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    /* background: #83543d; */
    flex-direction:column;
    text-align: left;
    transition: all .40s;
    /* justify-content: flex-start;
    padding: 20px;
    border-radius: 4px; 
    transition: all .40s;  */
  }
  .navbar a {
    display: left;
    /* padding: 0;
    margin: 0; */
    color: white;
    /* border-left: 2px solid #fff; */
    /* transition: all 0.40s; */
  }
  .navbar.open {
    top: 100%;
  }
}
/* @media (max-width: 1345px) {
  .nav-icon i{
   color: #111
   transition: .3s;
}
  /* #menu-icon {
    color: #fff;
    transition: .3s;  */
  }
  .navbar a:hover{
    transform: translateY(5px)
  }
.contact-btn {
  font-size: 10px;
  transition: 0.4s;
} */